/* Dark Theme for Web - colors.blue.dark.css */
body {
  color: #ffffff; /* White text for high contrast in dark themes */
  background-color: #222233; /* Very dark blue-grey background */
}

h1,
h2,
h3 {
  color: #3a6ef4; /* Bright blue for headings */
}

h1 {
  font-size: 2.34em;
}
h2 {
  font-size: 1.94em;
}
h3 {
  font-size: 1.53em;
}

a {
  color: #6ea1f4; /* Brighter blue for hyperlinks */
}

.sidebar {
  color: #ffffff; /* White text for sidebar */
}

.footer,
.header {
  background-color: #222233; /* Very dark blue-grey background */
  color: #3a6ef4; /* Blue text for contrast */
}

code {
  background-color: #1a1a1a; /* Dark grey for code blocks */
  border-color: #285ee7; /* Blue border */
}

table {
  border-color: #1d47c5; /* Darker blue for table grids */
}

.admonition {
  border-color: #285ee7;
  background-color: #001a33; /* Very dark blue for admonitions */
}
