<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->

<!-- Favicon for standard browsers and devices -->
<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/logos/imca-cat-logo-32.png" />

<!-- Apple Touch Icon for iOS devices -->
<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/logos/imca-cat-logo-72ppi-500x500.png" />

<!-- Favicon for IE 11 on Windows 8 and Windows 10 -->
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="msapplication-TileImage" content="/assets/images/logos/imca-cat-logo-72ppi-500x500.png" />

<!-- Favicon for Safari on macOS -->
<link rel="mask-icon" href="/assets/images/logos/imca-cat-logo-gray-gs-trans-bg.svg" color="#5bbad5" />

<!-- end custom head snippets -->
