{
  "printWidth": 100,
  "tabWidth": 4,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "arrowParens": "avoid",
  "htmlWhitespaceSensitivity": "css",
  "quoteProps": "as-needed",
  "vueIndentScriptAndStyle": true,
  "overrides": [
    {
      "files": ["*.js", "*.ts"],
      "options": {
        "tabWidth": 2,
        "useTabs": false,
        "semi": true,
        "trailingComma": "all"
      }
    },
    {
      "files": ["*.py"],
      "options": {
        "printWidth": 88,
        "tabWidth": 4,
        "useTabs": false
      }
    },
    {
      "files": ["*.java", "*.cpp", "*.rs", "*.php", "*.xml"],
      "options": {
        "tabWidth": 4
      }
    },
    {
      "files": ["*.css", "*.scss", "*.sql", "*.sh", "*.groovy", "*.md", "*.html", "*.yaml", "*.yml", "*.json", "*.jinja", "*.jinja2", "*.tmpl", "*.tpl"],
      "options": {
        "tabWidth": 2
      }
    },
    {
      "files": ["*.md", "*.adoc", "*.asciidoc", "*.rst"],
      "options": {
        "proseWrap": "preserve"
      }
    },
    {
      "files": ["*.html"],
      "options": {
        "printWidth": 120
      }
    },
    {
      "files": ["*.json"],
      "options": {
        "printWidth": 80
      }
    }
  ]
}
