/* Blue Color Components */
.logo-blue {
  color: #285ee7; /* Original blue color */
}

.logo-blue-complementary {
  color: #e7b128; /* Complementary color */
}

.logo-blue-monochromatic {
  color: #1648c6; /* Monochromatic color */
}

.logo-blue-analogous-original {
  color: #5228e7; /* First analogous color */
}

.logo-blue-analogous-second {
  color: #28bee7; /* Second analogous color */
}

.logo-blue-triadic-original {
  color: #285ee7; /* Original triadic color */
}

.logo-blue-triadic-second {
  color: #e7285e; /* Second triadic color */
}

.logo-blue-triadic-third {
  color: #5ee728; /* Third triadic color */
}

.logo-blue-tetradic-original {
  color: #285ee7; /* Original tetradic color */
}

.logo-blue-tetradic-second {
  color: #e728bd; /* Second tetradic color */
}

.logo-blue-tetradic-third {
  color: #e7b128; /* Third tetradic color */
}

.logo-blue-tetradic-fourth {
  color: #28e752; /* Fourth tetradic color */
}
