// Dark Theme for Web - colors.blue.dark.scss
$body-text: #FFFFFF
$primary-color: #3A6EF4
$link-color: #6EA1F4
$background-dark: #222233
$background-code: #1A1A1A
$border-color: #285EE7
$table-grid-color: #1D47C5
$admonition-bg: #001A33

body
    color: $body-text
    background-color: $background-dark

h1, h2, h3
    color: $primary-color

h1 
    font-size: 2.34em

h2 
    font-size: 1.94em

h3 
    font-size: 1.53em

a
    color: $link-color

.sidebar
    color: $body-text

.footer, .header
    background-color: $background-dark
    color: $primary-color

code
    background-color: $background-code
    border-color: $border-color

table
    border-color: $table-grid-color

.admonition
    border-color: $border-color
    background-color: $admonition-bg
