// Original Theme for Web - colors.blue.original.scss
$body-text: #333333
$primary-color: #285EE7
$link-color: #285EE7
$background-light: #FFFFFF
$background-code: #F2F2FF
$border-color: #285EE7
$table-grid-color: #1648C6
$admonition-bg: #E6EEFF

body
    color: $body-text
    background-color: $background-light

h1, h2, h3
    color: $primary-color

h1 
    font-size: 2.34em

h2 
    font-size: 1.94em

h3 
    font-size: 1.53em

a
    color: $link-color

.sidebar
    color: $body-text

.footer, .header
    background-color: $background-light
    color: $primary-color

code
    background-color: $background-code
    border-color: $border-color

table
    border-color: $table-grid-color

.admonition
    border-color: $border_color
    background-color: $admonition-bg
