/* Red Color Components */
.logo-red {
  color: #ea332c; /* Original red color */
}

.logo-red-complementary {
  color: #2ce3ea; /* Complementary color */
}

.logo-red-monochromatic {
  color: #ce1b15; /* Monochromatic color */
}

.logo-red-analogous-original {
  color: #ea922c; /* First analogous color */
}

.logo-red-analogous-second {
  color: #ea2c84; /* Second analogous color */
}

.logo-red-triadic-original {
  color: #ea332c; /* Original triadic color */
}

.logo-red-triadic-second {
  color: #2cea33; /* Second triadic color */
}

.logo-red-triadic-third {
  color: #332cea; /* Third triadic color */
}

.logo-red-tetradic-original {
  color: #ea332c; /* Original tetradic color */
}

.logo-red-tetradic-second {
  color: #84ea2c; /* Second tetradic color */
}

.logo-red-tetradic-third {
  color: #2ce3ea; /* Third tetradic color */
}

.logo-red-tetradic-fourth {
  color: #922cea; /* Fourth tetradic color */
}
